# Terraform
.terraform/
*.tfstate
*.tfstate.*
!terraform.tfvars.example
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE
.idea/
*.swp
*.swo
.vscode/

# OS
.DS_Store

*.pem
*.key

/aws/config
/aws/scripts